# File types to ignore
*.pyc
*.so
*~
.DS_Store

# SWIG & Cython intermediate files
enable/kiva/agg/agg.py
enable/kiva/agg/agg_wrap.cpp
enable/kiva/agg/plat_support.py
enable/kiva/agg/src/gl/plat_support_wrap.cpp
enable/kiva/agg/src/gtk1/plat_support_wrap.cpp
enable/kiva/agg/src/win32/plat_support_wrap.cpp
enable/kiva/agg/src/x11/plat_support_wrap.cpp
enable/kiva/quartz/ABCGI.c
enable/kiva/quartz/ATSFont.c

# Ignore the build directories.
*.egg-info/
build/
dist/
docs/build/
