numpy
coverage
pillow
pycairo
pyparsing
PyPDF2
https://bitbucket.org/pyglet/pyglet/get/pyglet-1.1.4.zip
pygarrayimage
reportlab<=3.1
kiwisolver
git+http://github.com/enthought/traits.git#egg=traits
git+http://github.com/enthought/pyface.git#egg=pyface
git+http://github.com/enthought/traitsui.git#egg=traitsui
git+http://github.com/enthought/apptools.git#egg=apptools
unittest2
