--allow-external PIL
--allow-unverified PIL
coverage
PIL
pyparsing
PyPDF2
pyglet
pygarrayimage
reportlab
-e git+http://github.com/enthought/traits.git#egg=traits
-e git+http://github.com/enthought/traitsui.git#egg=traitsui
-e git+http://github.com/enthought/apptools.git#egg=apptools
-e git+http://github.com/nucleic/kiwi.git#egg=kiwisolver
