include kiva/agg/agg.i
include chaco/tests/data/PngSuite/*.png
include chaco/tests/data/PngSuite/LICENSE.txt
kiva/quartz/*.pyx
kiva/quartz/*.pxi
kiva/quartz/*.pxd
kiva/quartz/mac_context.c
kiva/quartz/mac_context.h
kiva/quartz/mac_context_cocoa.m
