[build-system]
requires = ["cython<3", "oldest-supported-numpy", "setuptools", "swig<4", "wheel"]
build-backend = "setuptools.build_meta"

[tool.cibuildwheel]
skip = 'pp* *-musllinux* cp36-*'

[tool.cibuildwheel.linux]
archs = ['auto', 'aarch64']
before-all = "yum install -y mesa-libGL-devel"
