
# This workflow installs dependencies from main branch

name: Test with pip

on:
  pull_request:
  # Make it possible to manually trigger the workflow
  workflow_dispatch:

jobs:
  test-ets:
    strategy:
      matrix:
        os: ['ubuntu-latest', 'macos-latest', 'windows-latest']
        toolkit: ['null', 'pyside2', 'pyside6', 'pyqt5', 'wx']
        python-version: ['3.8', '3.10', '3.11']
        exclude:
          # No Wx wheels available for Python 3.11
          - toolkit: 'wx'
            python-version: '3.11'
          # No PySide2 wheels available for Python 3.11
          - toolkit: 'pyside2'
            python-version: '3.11'
          # No PyQt5 wheels available for Python 3.11
          - toolkit: 'pyqt5'
            python-version: '3.11'
          # No Wx wheels available for ubuntu or macos
          - os: 'ubuntu-latest'
            toolkit: 'wx'
          - os: 'macos-latest'
            toolkit: 'wx'
          # Kiva tests hanging on windows, see #1038
          - os: 'windows-latest'
            toolkit: 'pyqt5'
    runs-on: ${{ matrix.os }}
    steps:
      - name: Check out
        uses: actions/checkout@v3
      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install Qt dependencies
        uses: ./.github/actions/install-qt-support
        if: matrix.toolkit != 'wx' && matrix.toolkit != 'null'
      - name: Install dependencies for Linux
        run: |
          # needed for Celiagg
          sudo apt-get install libfreetype-dev libharfbuzz-dev
          # needed for Cairo
          sudo apt-get install libcairo2-dev
        if: matrix.os == 'ubuntu-latest'
      - name: Install dependencies for Mac
        run: |
          brew install cairo
        if: matrix.os == 'macos-latest'
      - name: Install build dependencies
        run: |
          python -m pip install --upgrade pip wheel
      - name: Install local packages
        run: pip install ".[cairo,layout,pdf,svg,test,${{ matrix.toolkit }}]"
      - name: Install celiagg main branch manually
        # This is needed until new release of celiagg
        run: pip install git+https://github.com/celiagg/celiagg.git
      - name: Sanity check package version
        run: pip list
      - name: Run kiva test suite (Linux)
        env:
          PYTHONFAULTHANDLER: 1
        run: xvfb-run -a python -m unittest discover -v kiva
        if: matrix.os == 'ubuntu-latest'
        working-directory: ${{ runner.temp }}
      - name: Run kiva test suite (not Linux)
        env:
          PYTHONFAULTHANDLER: 1
        run: python -m unittest discover -v kiva
        if: matrix.os != 'ubuntu-latest'
        working-directory: ${{ runner.temp }}
      - name: Run enable test suite (Linux)
        env:
          PYTHONFAULTHANDLER: 1
        # kiva agg requires at least 15-bit color depth.
        run: xvfb-run -a --server-args="-screen 0 1024x768x24" python -m unittest discover -v enable
        if: matrix.os == 'ubuntu-latest'
        working-directory: ${{ runner.temp }}
      - name: Run enable test suite (not Linux)
        env:
          PYTHONFAULTHANDLER: 1
        run: python -m unittest discover -v enable
        if: matrix.os != 'ubuntu-latest'
        working-directory: ${{ runner.temp }}
